@font-face {
  font-family: Berkahi Blackletter;
  src: url("../font/Berkahi\ Blackletter.otf");
}
@font-face {
  font-family: Ring;
  src: url("../font/RingbearerMedium-51mgZ.ttf");
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: #353030;
  color: #f4f7f5;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

header nav ul a {
  display: flex;
  color: #f4f7f5;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
}

header p {
  font-family: Berkahi Blackletter;
  font-size: 6vh;
  margin: 0%;
  padding: 0%;
}

.now {
  color: #ffc857;
  font-weight: bold;
}

.banner {
  width: 100%;
  height: 90vh;
  background-image: url("../assets/elden-ring-1200.jpg");
  background-position: center;
  background-size: 100%;
  display: flex;
  align-items: center;
}

.container {
  margin-left: 10%;
  width: 25%;
  min-height: 66%;
  border-radius: 10px;
  overflow: hidden;
  border: solid 1px;
  backdrop-filter: blur(12px);
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo p {
  color: #ffc857;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
}

.lista {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  justify-content: center;
  margin-left: 10%;
}

label {
  color: #f4f7f5;
  font-size: 20px;
  margin-top: 5%;
}

input {
  margin-bottom: 10px;
  border: 2px solid #ffc857;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  font-family: Ring;
}
.btn {
  font-family: Ring;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: rgb(0, 0, 0);
  background-color: #ffc857;
  width: 120px;
  align-self: center;
  margin-top: 5%;
}

.footer {
  background-color: #353030;
  color: #f4f7f5;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
